.movies {
  margin-top: 7vh;
  display: grid;
  grid-template-columns: 3% 94% 3%;
  height: 30vh;
}

.list {
  display: flex;
  grid-column: 2;
  align-items: center;
}

.movie {
  margin-left: 2.5vw;
}

.leftBtn {
  height: 15vh;
  align-self: center;
  background-color: rgba(63, 60, 60, 0.192);
  color: white;
}
.leftBtn:hover {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.37);
  color: black;
}

.rightBtn {
  height: 15vh;
  align-self: center;
  background-color: rgba(63, 60, 60, 0.192);
  color: white;
}
.rightBtn:hover {
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.37);
  color: black;
}

.movie img {
  /* margin-left: 1vw; */
  height: 20vh;
  width: 20vh;
  border-radius: 15%;
  border-color: rgba(255, 0, 0, 0.082);
  border-style: solid;
  transition: 0.5s linear;
}

.movie img:hover {
  transition: 0.5s linear;
  height: 25vh;
  width: 25vh;
}
